.page {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 100%;
    align-items: center;
}

.page h1 {
    padding-bottom: 20px;
    text-align: left;
    width: 100%;
}

@media(min-width: 768px) {
    .page {
        width: 50%;
    }
}