.dropdown-menu {
    display: none;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    border: 1px solid lightgrey;
    padding: 10px 20px;
    z-index: 1000;
}

.dropdown-menu ul li a {
    list-style: none;
    color: black;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.dropdown-menu.menu-open {
    display: block;
}