.modal {
    position: absolute;
    z-index: 1000;
    top: 0px;
    height: 100%;
    width: 100%;    
    background: white;
    padding: 30px 40px;
    display: none;
}

.modal h1 {
    padding: 0;
    width: 100%;
}

.modal-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.modal-row:nth-child(1), .modal-row:nth-child(2){
    justify-content: space-between;
}

.modal-actions {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.modal-actions button {
    flex-grow: 1;
}

@media(min-width: 768px) {
    .modal {
        width: 50%;
        min-height: 50%;
        height: fit-content;
        border-radius: 15px;
        top: 50px;
        border: solid 1px grey;
    }
}