.status {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: relative;
    top: 10px;
}

.status-circle {
    height: 15px;
    width: 15px;
    border-radius: 15px;
}

@media(min-width: 768px) {
    .status {
        align-items: center;
        top: 0px;
    }
}